<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekaca.studentclasssystem.mapper.PhaseMapper">

    <resultMap id="BaseResultMap" type="com.geekaca.studentclasssystem.domain.Phase">
            <id property="phaseId" column="phase_id" jdbcType="INTEGER"/>
            <result property="phaseName" column="phase_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        phase_id,phase_name
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from phase
        where  phase_id = #{phaseId,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from phase
        where  phase_id = #{phaseId,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="phase_id" keyProperty="phaseId" parameterType="com.geekaca.studentclasssystem.domain.Phase" useGeneratedKeys="true">
        insert into phase
        ( phase_id,phase_name)
        values (#{phaseId,jdbcType=INTEGER},#{phaseName,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="phase_id" keyProperty="phaseId" parameterType="com.geekaca.studentclasssystem.domain.Phase" useGeneratedKeys="true">
        insert into phase
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="phaseId != null">phase_id,</if>
                <if test="phaseName != null">phase_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="phaseId != null">#{phaseId,jdbcType=INTEGER},</if>
                <if test="phaseName != null">#{phaseName,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.geekaca.studentclasssystem.domain.Phase">
        update phase
        <set>
                <if test="phaseName != null">
                    phase_name = #{phaseName,jdbcType=VARCHAR},
                </if>
        </set>
        where   phase_id = #{phaseId,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.geekaca.studentclasssystem.domain.Phase">
        update phase
        set 
            phase_name =  #{phaseName,jdbcType=VARCHAR}
        where   phase_id = #{phaseId,jdbcType=INTEGER} 
    </update>
</mapper>
