<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekaca.mapper.BrandMapper">

    <resultMap id="brandMap" type="Brand">
        <id property="id" column="id"/>
        <result property="brandName" column="brand_name"/>
        <result property="companyName" column="company_name"/>
        <result property="typeId" column="type_id"/>
    </resultMap>

    <insert id="insertBrand">
        insert into tb_brand(brand_name, company_name, ordered, description, status, type_id)
        values (#{brandName}, #{companyName}, #{ordered}, #{description}, #{status}, #{typeId});
    </insert>
    <update id="updateBrand">
        update tb_brand
        set brand_name   = #{brandName},
            company_name = #{companyName},
            ordered      = #{ordered},
            description  = #{description},
            status       = #{status},
            type_id      = #{typeId}
        where id = #{id};
    </update>
    <delete id="deleteBrand">
        delete
        from tb_brand
        where id = #{brandId};
    </delete>
    <!--    <delete id="deleteBrands">-->
    <!--        delete-->
    <!--        from tb_brand-->
    <!--        where id in (${brandIds})-->
    <!--    </delete>-->
    <delete id="deleteBrands" >
        delete
        from tb_brand
        where id in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
    <select id="selectBrand" resultMap="brandMap">
        select *
        from tb_brand;
    </select>
    <select id="selectById" resultMap="brandMap">
        select *
        from tb_brand
        where id = #{id}
    </select>
    <select id="selectByName" resultMap="brandMap" parameterType="Brand">
        select *
        from tb_brand
        <where>
            <if test="brandName != null and brandName != '' ">
                brand_name like concat('%', #{brandName}, '%')
            </if>
            <if test="companyName != null and companyName != '' ">
                and company_name like concat('%', #{companyName}, '%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="typeId != null">
                and typeId = #{typeId}
            </if>
        </where>
    </select>
    <select id="selectAll" resultMap="brandMap">
        select *
        from tb_brand limit #{start}, #{pageSize}
    </select>
    <select id="selectAllCount" resultType="java.lang.Integer">
        select count(*)
        from tb_brand
    </select>
    <select id="selectWithPage" resultMap="brandMap">
        select * from tb_brand
        <where>
            <if test="brand.brandName != null and brand.brandName != '' ">
                brand_name like concat('%', #{brand.brandName}, '%')
            </if>
            <if test="brand.companyName != null and brand.companyName != '' ">
                and company_name like concat('%', #{brand.companyName}, '%')
            </if>
            <if test="brand.status != null">
                and status = #{brand.status}
            </if>
            <if test="brand.typeId != null">
                and type_id = #{brand.typeId}
            </if>
        </where>
        limit #{brand.pageNo}, #{brand.pageSize};
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from tb_brand
        <where>
            <if test="brand.brandName != null and brand.brandName != '' ">
                brand_name like concat('%', #{brand.brandName}, '%')
            </if>
            <if test="brand.companyName != null and brand.companyName != '' ">
                and company_name like concat('%', #{brand.companyName}, '%')
            </if>
            <if test="brand.status != null">
                and status = #{brand.status}
            </if>
            <if test="brand.typeId != null">
                and type_id = #{brand.typeId}
            </if>
        </where>
    </select>

</mapper>