<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekaca.survey.mapper.MainMapper">

    <resultMap id="mainMap" type="MainInfo">
        <result column="title_main" property="titleMain"/>
        <result column="date_main" property="dateMain"/>
    </resultMap>
    <insert id="insertMain"  parameterType="MainInfo" useGeneratedKeys="true" keyProperty="id">
        insert into main_info(title_main,date_main)
        value  (#{titleMain}, #{dateMain})
    </insert>


</mapper>